# Copy to config.env and edit values, then run ./systemd/install.sh
RTSP_URL=rtsp://yourdomain:8554/stream
RTSP_TRANSPORT=tcp
VIDEO_DEV=/dev/video0
WIDTH=1280
HEIGHT=720
FPS=25
VBITRATE=500k
MAXRATE=500k
BUFSIZE=1000k
PRESET=veryfast
